@{
    ViewData["Title"] = "Pano";
}

@section Subheader {
    <div class="subheader py-2 py-lg-4 subheader-solid-- border-bottom shadow-none" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-2">
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Dashboard</h5>
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                <span class="text-muted font-weight-bold mr-4">#XRS-45670</span>
            </div>
            <div class="d-flex align-items-center"></div>
        </div>
    </div>
}

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12">

            <!--begin::Search Form-->
            <div class="mb-7">

                <div class="row align-items-center">

                    <div class="col-xl-6">

                        <div class="row align-items-center">

                            <div class="col-md-3 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <select class="form-control" id="combo-filter-apartments">
                                        @* <option value="all">Tümü</option> *@
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <select class="form-control" id="combo-filter-type">
                                        <option value="expense">Gider</option>
                                        <option value="debit">Borç</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-xl-6">

                        <div class="row align-items-center justify-content-end">

                            <div class="col-md-2 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <select class="form-control" id="combo-filter-months">
                                        <option value="1">Ocak</option>
                                        <option value="2">Şubat</option>
                                        <option value="3">Mart</option>
                                        <option value="4">Nisan</option>
                                        <option value="5">Mayıs</option>
                                        <option value="6">Haziran</option>
                                        <option value="7">Temmuz</option>
                                        <option value="8">Ağustos</option>
                                        <option value="9">Eylül</option>
                                        <option value="10">Ekim</option>
                                        <option value="11">Kasım</option>
                                        <option value="12">Aralık</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <select class="form-control" id="combo-filter-years">
                                        <option value="2026">2026</option>
                                        <option value="2025" selected="selected">2025</option>
                                        <option value="2024">2024</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            @* <div class="separator separator-dashed separator-border-1 mb-7"></div> *@

            <div class="row">

                <div class="col-md-3 mb-7">

                    <div class="be-boarding">

                        <div class="be-header">
                            <div class="be-title">
                                <div class="be-icon">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <div class="be-caption">GİDERLER</div>
                            </div>
                        </div>

                        <div class="be-money">

                            <div class="items">

                                <div class="item">
                                    <span class="money" id="total-expense">0,00 ₺</span>
                                    <span class="tag">Toplam gider</span>
                                </div>

                                <div class="item">
                                    <span class="money" id="total-expense-fixed">0,00 ₺</span>
                                    <span class="tag">Periyodik gider</span>
                                </div>
                            </div>

                        </div>

                        <div class="be-footer">
                            <span>Yıllık gider</span>
                            <a class="be-link" href="/ams/expenses">
                                <i class="fas fa-arrow-up"></i>
                            </a>
                        </div>

                    </div>

                </div>

                <div class="col-md-3 mb-7">

                    <div class="be-boarding">

                        <div class="be-header">
                            <div class="be-title">
                                <div class="be-icon">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <div class="be-caption">BORÇLAR</div>
                            </div>
                        </div>

                        <div class="be-money">
                            <div class="items">
                                <div class="item">
                                    <span class="money">0,00 ₺</span>
                                    @* <span>Toplam gider</span> *@
                                </div>
                            </div>
                        </div>

                        <div class="be-footer">
                            <span>Yıllık borç</span>
                        </div>

                    </div>

                </div>

                <div class="col-md-3 mb-7">

                    <div class="be-boarding">

                        <div class="be-header">
                            <div class="be-title">
                                <div class="be-icon">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <div class="be-caption">ÖDENMEYEN BORÇ</div>
                            </div>
                        </div>

                        <div class="be-money">
                            <div class="items">
                                <div class="item">
                                    <span class="money" id="unpaid">0,00 ₺</span>
                                    @* <span>Toplam gider</span> *@
                                </div>
                            </div>
                        </div>

                        <div class="be-footer">
                            <span>
                                <b id="unpaid-month-year" class="text-danger">...</b> ödenmeyen borçtur.
                            </span>
                        </div>

                    </div>

                </div>

                <div class="col-md-3 mb-7">

                    <div class="be-boarding">

                        <div class="be-header">
                            <div class="be-title">
                                <div class="be-icon">
                                    <i class="fas fa-home"></i>
                                </div>
                                <div class="be-caption">KONUT / BORÇLU KONUT</div>
                            </div>
                        </div>

                        <div class="be-title">
                        </div>

                        <div class="be-housing">

                            <div class="item">
                                <div class="em">
                                    <span id="housing-paid">-</span>
                                    <span class="emx">Konut</span>
                                </div>
                            </div>

                            <div class="item">
                                <div class="em">
                                    <span class="label label-xl label-dot label-danger mr-2"></span>
                                    <span class="housing-unpaid">-</span>
                                    <span class="emx">Konut</span>
                                </div>
                            </div>

                        </div>

                        <div class="be-footer">
                            <span>Borçlu <b class="housing-unpaid label label-light-danger">...</b> konut bulunuyor.</span>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card card-custom border-0 shadow-none">

      @*           <div class="card-header border-0 p-0">
                    <div class="card-title">
                        <h3 class="card-label" >GİDERLER</h3>
                    </div>
                    <div class="card-toolbar"></div>
                </div> *@

                <div class="card-body p-0">

                    <div id="chart-expense-title" class="bg-light-primary text-primary" style="    font-size: .9rem;
    font-weight: 600;
    margin-bottom: 1rem;
    background: #ebedf3;
    padding: 1rem;
    border-radius: .475rem;
    display: inline-block;">

                    </div>

                    <div id="chart-expense"></div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {

    <script>

        var _date = new Date();

        const qcs = {
            default: [
                {
                    type: "expense",
                    month: _date.getMonth() + 1,
                    year: _date.getFullYear(),
                }
            ],
            chart: {
                expense_title: '#chart-expense-title',
                expense : '#chart-expense',
                color: {
                    primary: "#3699FF",
                    success: "#1BC5BD",
                    danger: "#F64E60",
                }
            },
            combo: {
                filter: {
                    apartments: '#combo-filter-apartments',
                    months: '#combo-filter-months',
                    type: '#combo-filter-type',
                    years: '#combo-filter-years'
                }
            },
            indicator: {
                unpaid: '#unpaid',
                housing_paid: '#housing-paid',
                housing_unpaid: '.housing-unpaid',
                unpaid_month_year: '#unpaid-month-year',
                total_expense: '#total-expense',
                total_expense_fixed: '#total-expense-fixed',
            }
        }

        function combo_apartments() {

            $.ajax({
                type: 'GET',
                url: "/ams/app/combo-apartments",
                async: false,
                dataType: 'json',
                success: function (data) {

                    $.each(data, function (i, v) {

                        if (i == 0) {
                            $(qcs.combo.filter.apartments).append('<option value=' + v.id + ' selected="selected">' + v.apartmentName + '</option>');
                            $(qcs.combo.expense_apartments).append('<option value=' + v.id + ' selected="selected">' + v.apartmentName + '</option>');
                        } else {
                            $(qcs.combo.expense_apartments).append('<option value=' + v.id + '>' + v.apartmentName + '</option>');
                            $(qcs.combo.filter.apartments).append('<option value=' + v.id + '>' + v.apartmentName + '</option>');
                        }

                        // $(qcs.combo.expense_apartments).append($("<option selected='selected'></option>").val(v.id).html(v.apartmentName));

                    });

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('Could not get posts, server response: ' + textStatus + ': ' + errorThrown);
                }
            });

        }

        function dashboard() {

            $(document).on("change", qcs.combo.filter.apartments, function () {

                var filter = {
                    apartment_id: $(qcs.combo.filter.apartments).val(),
                    type: $(qcs.combo.filter.type).val(),
                    month: $(qcs.combo.filter.months).val(),
                    year: $(qcs.combo.filter.years).val(),
                }
                session_storage(filter.apartment_id, filter.type, filter.month, filter.year);
                analysis(filter.apartment_id, filter.type, filter.year);
                indicator(filter.apartment_id, filter.month, filter.year);

            });

            $(document).on("change", qcs.combo.filter.type, function () {

                var filter = {
                    apartment_id: $(qcs.combo.filter.apartments).val(),
                    type: $(qcs.combo.filter.type).val(),
                    month: $(qcs.combo.filter.months).val(),
                    year: $(qcs.combo.filter.years).val(),
                }
                session_storage(filter.apartment_id, filter.type, filter.month, filter.year);
                analysis(filter.apartment_id, filter.type, filter.year);

            });

            $(document).on("change", qcs.combo.filter.months, function () {

                var filter = {
                    apartment_id: $(qcs.combo.filter.apartments).val(),
                    type: $(qcs.combo.filter.type).val(),
                    month: $(qcs.combo.filter.months).val(),
                    year: $(qcs.combo.filter.years).val(),
                }
                session_storage(filter.apartment_id, filter.type, filter.month, filter.year);
                // analysis(filter.apartment_id, filter.type, filter.year);
                indicator(filter.apartment_id, filter.month, filter.year);

            });

            $(document).on("change", qcs.combo.filter.years, function () {

                var filter = {
                    apartment_id: $(qcs.combo.filter.apartments).val(),
                    type: $(qcs.combo.filter.type).val(),
                    month: $(qcs.combo.filter.months).val(),
                    year: $(this).val(),
                }
                session_storage(filter.apartment_id, filter.type, filter.month, filter.year);
                analysis(filter.apartment_id, filter.type, filter.year);
                indicator(filter.apartment_id, filter.month, filter.year);

            });

        }

        function session_storage(apartment_id, type, month, year) {
            sessionStorage.setItem("..apartment", apartment_id);
            sessionStorage.setItem("..type", type);
            sessionStorage.setItem("_month", month);
            sessionStorage.setItem("_year", year);
        }

        function analysis(apartment, type, year) {

            $.get("/ams/dashboard/analysis/" + apartment + "/" + type + "/" + year, function (d) {

                // console.log(JSON.stringify(d.listView));
                console.log(d.listView);

                $(qcs.chart.expense_title).text(type === "expense" ? year + " - AYLIK AİDAT GİDERLERİ" : year + " - AYLIK AİDAT BORÇLARI");

                if (d.isSucceed) {
                    switch (d.statuses) {
                        case 'x-list':

                                // -----------------------------------------------------------------------

                                // typ = EXPENSE - DEBT

                                var series = [
                                    {
                                        name: 'Gider',
                                        data: [d.listView[0].amount, d.listView[1].amount, d.listView[2].amount, d.listView[3].amount, d.listView[4].amount, d.listView[5].amount, d.listView[6].amount, d.listView[7].amount, d.listView[8].amount, d.listView[9].amount, d.listView[10].amount, d.listView[11].amount]
                                        // data: ["0,00", "0,00", "0,00", "0,00", "0,00", "0,00", "1.852,80", "772,60", "1.858,60", "2.175", "5.342,68", "0,00"]
                                    }
                                ];

                                var colors = [
                                    "#27BDFF", "#23B3F4", "#20A9E9", "#1C9FDE", "#1995D3", "#158BC8",
                                    "#1280BE", "#0E76B3", "#0B6CA8", "#07629D", "#045892", "#004E87",
                                ];

                                var options = {
                                    //series: series,
                                    series: [],
                                    chart: {
                                        type: 'bar',
                                        height: 500,
                                        toolbar: {
                                            show: false
                                        }
                                    },
                                    colors: colors,
                                    legend: {
                                        show: false // TODO : Grafiğin altındaki "DOT'ları" gizliyor
                                    },
                                    plotOptions: {
                                        bar: {
                                            horizontal: false,
                                            columnWidth: '15%',
                                            borderRadius: 10,
                                            // endingShape: 'rounded',
                                            dataLabels: {
                                                position: 'top'
                                            },
                                             distributed: true, // TODO : Renk karışımını sağlıyor
                                        },
                                    },
                                    dataLabels: {
                                        enabled: true,
                                        formatter: function (val, opts) {
                                            var view = d.listView[opts.dataPointIndex];
                                            return "₺ " + view._Amount;
                                          //return val + "%";
                                        },
                                        offsetY: -30,
                                        style: {
                                          fontSize: '11px',
                                          colors: ["#304758"]
                                        }
                                    },
                                    stroke: {
                                        show: true,
                                        width: 2,
                                        //colors: ['transparent']
                                    },
                                    xaxis: {
                                        categories: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                                        position: 'bottom',
                                        axisBorder: {
                                            show: false
                                        },
                                        axisTicks: {
                                            show: false
                                        },
                                        //tickPlacement: 'on',
                                        crosshairs: {
                                            fill: {
                                                type: 'gradient',
                                                gradient: {
                                                    colorFrom: '#D8E3F0',
                                                    colorTo: '#BED1E6',
                                                    stops: [0, 100],
                                                    opacityFrom: 0.4,
                                                    opacityTo: 0.5,
                                                }
                                            }
                                        },
                                    },
                                    yaxis: {
                                        labels: {
                                            show: true, // TODO : Y ekseinindeki SOL tarafındaki sayıları gizliyor.
                                            formatter: function (val) {
                                                return '₺ ' + val.toLocaleString('tr-TR');
                                            }
                                        },
                                        axisTicks: {
                                            show: false
                                        },
                                        axisBorder: {
                                            show: false
                                        },
                                        title: {
                                            // text: type === "expense" ? year + " - AYLIK AİDAT GİDERLERİ" : year + " - AYLIK AİDAT BORÇLARI",
                                            style: {
                                                fontSize: '14px',
                                            }
                                        }
                                    },
                                    grid: {
                                        strokeDashArray: 3,
                                        padding: {
                                            top: 0,
                                            left: 0
                                        },
                                        xaxis: {
                                            lines: {
                                                show: true
                                            }
                                        },
                                        yaxis: {
                                            lines: {
                                                show: true
                                            }
                                        }
                                    },
                                    fill: {
                                        // opacity: 1,
                                        // type: 'gradient',
                                        // gradient: {
                                        //   shade: 'light',
                                        //   type: "horizontal",
                                        //   shadeIntensity: 0.25,
                                        //   gradientToColors: undefined,
                                        //   inverseColors: true,
                                        //   opacityFrom: 0.85,
                                        //   opacityTo: 0.85,
                                        //   stops: [50, 0, 100]
                                        // },
                                    },
                                    tooltip: {
                                        theme: 'dark', // dark | light
                                        followCursor: true,
                                        marker: {
                                            show: true
                                        },
                                        y: {
                                            formatter: function (val, opts) {
                                                // var view = d.listView[opts.dataPointIndex];
                                                // return "₺ " + view._Amount;
                                                //console.log("tutar : " + view._Amount);
                                                return '₺ ' + val.toLocaleString('tr-TR');
                                            }
                                        },
                                    },
                                    //colors: [qcs.chart.color.primary, qcs.chart.color.danger]
                                };

                                var chart = new ApexCharts(document.querySelector(qcs.chart.expense), options);
                                chart.render().then(() => {
                                    chart.updateSeries([
                                        { name: type === "expense" ? series[0].name : "Borç", data: series[0].data }
                                    ]);
                                });

                                // -----------------------------------------------------------------------

                            break;
                        case 'x-ndata':

                            break;
                        case 'x-timeout':

                           Swal.fire({
                               title: "Oturum",
                               text: "Oturum süresi dolduğu için tekrardan giriş yapmalısınız.",
                               icon: "error",
                               allowOutsideClick: false,
                               allowEscapeKey: false,
                               buttonsStyling: false,
                               confirmButtonText: "Tamam",
                               showCancelButton: false,
                               cancelButtonText: "İptal",
                               customClass: {
                                   confirmButton: "btn btn-danger",
                                   cancelButton: "btn btn-primary"
                               }
                           }).then(function (r) {
                               location.href = "/admin/auth/logout";
                           });


                            break;
                        case 'x-fail':

                            break;
                    }
                }

            }).done(function (d) {

            }).fail(function (jqXHR, textStatus, errorThrown) {

            });





        }

        function indicator(apartment_id, month, year) {

            $.get("/ams/dashboard/indicator/" + apartment_id + "/" + month + "/" + year, function (d) {

                // console.log("TEST : --------");
                console.log(d);

                if (d.isSucceed) {
                    switch (d.statuses) {
                        case 'x-view':

                            var tx = {
                                month: $(qcs.combo.filter.months).find("option:selected").text(),
                            }

                            $(qcs.indicator.unpaid_month_year).empty().text(tx.month + " " + year);
                            $(qcs.indicator.total_expense).empty().text(d.view.expense + " ₺");
                            $(qcs.indicator.total_expense_fixed).empty().text(d.view.expenseFixed + " ₺");

                            var unpaid = d.view.unpaid;

                            if(Number(unpaid) > 0)
                            {
                                $(qcs.indicator.unpaid).empty().text(d.view._Unpaid + " ₺");
                            }
                            else {
                                $(qcs.indicator.unpaid).empty().text(d.view._Unpaid + " ₺");
                                // $(qcs.indicator.unpaid_month_year).html().text("Borç bulunamadı.");
                            }
                                 

                            
                            $(qcs.indicator.housing_paid).empty().text(d.view.housingPaid);
                            $(qcs.indicator.housing_unpaid).empty().text(d.view.housingUnpaid);

                            break;
                        case 'x-ndata':

                            break;
                        case 'x-timeout':

                           Swal.fire({
                               title: "Oturum",
                               text: "Oturum süresi dolduğu için tekrardan giriş yapmalısınız.",
                               icon: "error",
                               allowOutsideClick: false,
                               allowEscapeKey: false,
                               buttonsStyling: false,
                               confirmButtonText: "Tamam",
                               showCancelButton: false,
                               cancelButtonText: "İptal",
                               customClass: {
                                   confirmButton: "btn btn-danger",
                                   cancelButton: "btn btn-primary"
                               }
                           }).then(function (r) {
                               location.href = "/admin/auth/logout";
                           });


                            break;
                        case 'x-fail':

                            break;
                    }
                }

            }).done(function (d) {

            }).fail(function (jqXHR, textStatus, errorThrown) {

            });

        }

        $(function () {

            dashboard();
            combo_apartments();

            var filter = {
                apartment_id: $(qcs.combo.filter.apartments).val(),
                type: $(qcs.combo.filter.type).val(),
                month: $(qcs.combo.filter.months).val(),
                year: $(qcs.combo.filter.years).val(),
            }

            var sessions = {
                apartment: sessionStorage.getItem("..apartment"),
                type: sessionStorage.getItem("..type"),
                month: sessionStorage.getItem("_month"),
                year: sessionStorage.getItem("_year"),
            }

            if (sessions.apartment != null) {

                $(qcs.combo.filter.apartments).find('option[value=' + sessions.apartment + ']').attr('selected', 'selected');
                $(qcs.combo.filter.type).find('option[value=' + sessions.type + ']').attr('selected', 'selected');
                $(qcs.combo.filter.months).find('option[value=' + sessions.month + ']').attr('selected', 'selected');
                $(qcs.combo.filter.years).find('option[value=' + sessions.year + ']').attr('selected', 'selected');

                analysis(sessions.apartment, sessions.type, sessions.year);
                indicator(sessions.apartment, sessions.month, sessions.year);
            }
            else {

                $(qcs.combo.filter.apartments).find('option[value=' + filter.apartment_id + ']').attr('selected', 'selected');
                $(qcs.combo.filter.type).find('option[value=' + qcs.default[0].type + ']').attr('selected', 'selected');
                $(qcs.combo.filter.months).find('option[value=' + qcs.default[0].month + ']').attr('selected', 'selected');
                $(qcs.combo.filter.years).find('option[value=' + qcs.default[0].year + ']').attr('selected', 'selected');

                session_storage(filter.apartment_id, filter.type, qcs.default[0].month, qcs.default[0].year);
                analysis(filter.apartment_id, qcs.default[0].type, qcs.default[0].year);

                indicator(filter.apartment_id, qcs.default[0].month, qcs.default[0].year);
            }

             

        });

    </script>

}